@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #da8359;
  --accent: #84946f;

  --rounded: 0.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  font-family: var(--font-chillax);
  padding: 1px;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
